<!DOCTYPE html>
<html ng-app="myapp">
    <head>
        <script type="text/javascript" src="js/angular.js" ></script>
    </head>

<body ng-controller="productController">

    <table cellpadding="2" cellspacing="2" border="1" >
        <tr> 
            <th> Id </th>
            <th> Name </th>
            <th> Preco </th>
            <th> Quantidade </th>
            <th> Options </th>
        </tr>
        <tr ng-repeat="product in listProducts">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td >
                <a href="#" ng-click="del(product.id)">Delete</a>
                <a href="#" ng-click="selectEdit(product.id)">Edit</a>
            </td>
        </tr>

    </table>


    <h3> Informar Produto </h3>

    <table >
        
        
        <tr>
            <td>name</td>
            <td>
                <input type="text" ng-model="name">
            </td>
        </tr>

        <tr>
            <td>price</td>
            <td>
                <input type="text" ng-model="price">
            </td>
        </tr>

        <tr>
            <td>quantity</td>
            <td>
                <input type="text" ng-model="quantity">
            </td>
        </tr>

        <tr>
            <td>
                <input type="button" value="Save" ng-click="edit()">
                <input type="button" value="Add"  ng-click="add()">
            </td>
        </tr>

    </table>

    <script type="text/javascript">
        var myapp = angular.module('myapp',[]);

        myapp.controller('productController',function($scope,$http) {
          
			$http.get("customers_mysql.php").then(function (response) {
				$scope.listProducts = response.data.records;
			});
			 		 
			//Metodo adicionar
            $scope.add = function(){
				
				//listar
                $scope.listProducts.push({
                    id:$scope.id,
                    name:$scope.name,
                    price:$scope.price,
                    quantity:$scope.quantity
                });
				
				/*inserir dados no banco*/
				$http.post("insert.php", {
				    id:$scope.id,
					name:$scope.name,
					price:$scope.price,
					quantity:$scope.quantity})					
					.then(function(data,status,headers,config){
						console.log("Data Inserted Successfully");
				});
				
				
				//limpar os inputs
                $scope.id       = '';
                $scope.name     = '';
                $scope.price    = '';
                $scope.quantity = '';
				
				//listar
                $scope.listProducts = response.data.records;
            };

          
            $scope.edit = function(){
                var index = getSelectionIndex($scope.id);
                $scope.listProducts[index].name      = $scope.name;
                $scope.listProducts[index].price     = $scope.price;
                $scope.listProducts[index].quantity  = $scope.quantity;

				/*atulizar dados no banco*/
				
                $scope.id       = '';
                $scope.name     = '';
                $scope.price    = '';
                $scope.quantity = '';
            };
        
            $scope.selectEdit = function(id){
                var index   = getSelectionIndex(id);
                var product = $scope.listProducts[index];

                $scope.id   = product.id;
                $scope.name = product.name;
                $scope.price = product.price;
                $scope.quantity = product.quantity;

            };

             $scope.del = function(id){
                var resutl = confirm("Esta certo disso? ");
                if(resutl === true){
                    var index = getSelectionIndex(id);
                    $scope.listProducts.splice(index,1);
					
					/* apagar dados no banco*/
                }  
            };



            function getSelectionIndex(id){
                for(var i=0; i<$scope.listProducts.length;i++)
                 if($scope.listProducts[i].id==id)
                    return i;
                return -1;
            };


        });




    
    </script>

</body>


</html>
